html, body {
	overflow: hidden;
	height: 100%;
}

body {
	background: linear-gradient(-45deg, #23a6d5, #23d5ab);
	background-size: 100% 100%;
}

@media (min-width: 400px) {
	.chess-board {
		width: 300px;
        height: 300px;
	}
}

@media (min-width: 800px) {
	.chess-board {
		width: 400px;
        height: 400px;
	}
}

.chess-board {
    display: flex;
    flex-wrap: wrap;
    border-color: #FFF;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.chess-square {
    container-type: size;
    border-color: #FFF;
    border-style: solid;
    border-width: 1px;
    width: 12.5%;
    height: 12.5%;
}

.cs-white {
    background-color: #ffffff62;
}

.cs-black {
    background-color: #0000002e;
}

.chess-piece {
    position: relative;
    font-size: 60cqmin;
    text-align: center;
    line-height: unset;
    cursor: grab;
    width: 100%;
    height:100%;
}

.cp-white {
    color: #FFF;
}

.cp-black {
    color: #000;
}

.radius-tl {
    border-top-left-radius: 5px;
}

.radius-tr {
    border-top-right-radius: 5px;
}

.radius-bl {
    border-bottom-left-radius: 5px;
}

.radius-br {
    border-bottom-right-radius: 5px;
}